[Desktop Entry]
Version=1.0
Type=Application
Name=QUBi Local Maps
GenericName=Offline Local Maps
Comment=S7 SkyQUBi — Offline maps for your local region
Exec=xdg-open http://127.0.0.1:57080/maps?scope=local
Icon=s7-qubi-icon
Terminal=false
Categories=X-S7-SkyQUBi;
Keywords=SkyQUBi;Maps;Local;Offline;Navigation;QUBi;S7;
StartupNotify=true
